<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style.css" >
    <title>VinBook</title>
    <script>
        function showAlert() {
            alert("Orders Successfully Received");
        }

        {% if giveBuyAlert %}
            window.onload = function() {
                showAlert();
            };
        {% endif %}
    </script>
</head>
<body>

<!-- header  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-lg d-flex align-items-center" href="#">
            <img src="../static/Images/logo.png" alt="Store Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" >
                    <a class="nav-link text-lg" href="{{ url_for('signin') }}">
                        <b>Sign In</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-lg" href="{{ url_for('register') }}">
                        <b>Register</b>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link text-lg" href="{{ url_for('signin') }}">
                        <b>Log Out</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- main body  -->
<div class="container mt-4 text-center mainBody">
    <h2 class="text-center mb-4">Welcome to Our Bookstore</h2>
    <img src="../static/Images/storePic.jpeg" alt="Bookstore Image" class="img-fluid rounded mt-3 mb-4" id="storeImage">
    <p>Captures the essence of reading and invites the reader into the world of books</p>
</div>

<!-- cards  -->

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 customCard" >
                <div class="card mb-4 align-items-center">
                    <img src="../static/Images/Novels.jpeg" class="card-img order-md-2" alt="Card 1">
                    <div class="card-body ">
                       <a href="{{ url_for('novel')}}" style="text-decoration: none;"><h5 class="card-title text-center" style="color: black;">Novels</h5></a>
                        <p class="card-text text-center">Immerse yourself in a captivating story with complex characters and intricate plots                            .</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 customCard">
                <div class="card mb-4 align-items-center">
                    <img src="../static/Images/Comic.jpeg" class="card-img order-md-2" alt="Card 1">
                    <div class="card-body">
                        <a href="{{ url_for('comic')}}" style="text-decoration: none;"><h5 class="card-title text-center" style="color: black;">Comics</h5></a>
                        <p class="card-text text-center">Experience vibrant artwork and captivating narratives in a unique, sequential format.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 customCard">
                <div class="card mb-4 align-items-center">
                    <img src="../static/Images/Poetry.jpeg" class="card-img order-md-2" alt="Card 1">
                    <div class="card-body">
                        <a href="{{ url_for('poetry')}}" style="text-decoration: none;"><h5 class="card-title text-center" style="color: black;">Poetry</h5></a>
                        <p class="card-text text-center"> Find solace and inspiration in the beauty and evocative power of words.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 customCard">
                <div class="card mb-4 align-items-center">
                    <img src="../static/Images/Child.jpeg" class="card-img order-md-2" alt="Card 1">
                    <div class="card-body">
                        <a href="{{ url_for('child')}}" style="text-decoration: none;"><h5 class="card-title text-center" style="color: black;">Children</h5></a>
                        <p class="card-text text-center">Ignite young minds with imaginative stories and colorful illustrations.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 customCard">
                <div class="card mb-4 align-items-center">
                    <img src="../static/Images/Cook.jpeg" class="card-img order-md-2" alt="Card 1">
                    <div class="card-body">
                        <a href="{{ url_for('cook')}}" style="text-decoration: none;"><h5 class="card-title text-center" style="color: black;">Cooking</h5></a>
                        <p class="card-text text-center">Master new culinary techniques and explore delightful recipes.</p>
                    </div>
                </div>
            </div>

            <!-- Repeat similar structure for the remaining cards -->
            

            <div class="col-md-6 customCard">
                <div class="card mb-4 align-items-center">
                    <div class="card-body order-md-1">
                        <a href="{{ url_for('coffeetable')}}" style="text-decoration: none;"><h5 class="card-title text-center" style="color: black;">Coffee Table</h5></a>
                        <p class="card-text text-center">Indulge in stunning visuals and insightful information on a range of topics.</p>
                    </div>
                    <img src="../static/Images/coffeeTable.jpeg" class="card-img order-md-2" alt="Card 6">
                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->

    <footer class="footer mt-5 text-center bg-light footerClass">
        <div class="container">
            <p>Let us help you escape the ordinary</p>
            <p id="fLine">&copy; 2024 VimBook. All rights reserved.</p>
        </div>
    </footer>
      
</body>
</html>